.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.weather-widget-container {
  max-width: 300px;
}

.weather-widget-error-body {
  min-height: 123px;
}

noscript {
  display: none;
}

.ww-search-btn {
  margin-left: 15px;
}